doctype html

//- Encoding
meta(charset='utf-8')

title=info.name

//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Viewport
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//- Env
meta(name="env" content=settings.env)

//- Stylesheet
link(rel="Stylesheet" href="/css/index.css")

button.right.small.npm-ui npm-ui v
  span=info.version

input#path(type='text' placeholder='/enter/a/directory/here' autofocus )

#meta
  button#action.success Action

  ul.button-group
    li
      button.name.secondary Name
    li
      button.secondary.version-wrapper
        span  v
        i.version version

script(src='/bower/jquery/dist/jquery.js')

script(src='/js/index.js')
